body {
    background-color: #ccc;
}

.container {
    max-width: 600px;
    margin: 2rem auto;
    background: #fff;
    padding: 3rem 2rem;
    border-radius: 1rem;
}

.field {
    display: flex;
    flex-flow: column-reverse;
}

textarea {
    height: 150px;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}

input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
    opacity: 1;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
input:focus + label {
    transform: translate(0, 0) scale(1);
    /*cursor: pointer;*/
}

/*.required {*/
/*    color: red;*/
/*}*/

.field {
    position: relative;
}

/*.required-field  {*/
/*    content: "*";*/
/*    color: red;*/
/*}*/
.region .required-field {
    position: relative;
}

/*.required-field:before {*/
/*    content: "*";*/
/*    color: red;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.error {
    /*border-bottom: 1px solid #F44336;*/
    /* -webkit-box-shadow: 0 1px 0 0 #F44336;*/
    /* box-shadow: 0 1px 0 0 #F44336;*/
}
.error:before {
    content: "*";
    color: red;
    position: absolute;
    top: 27px;
    left: 0;
}